.faceRecog {
    flex: 1;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.faceRecog-video {
    border-radius: 1rem;
}

.faceRecog-prompt {
    font-weight: 600;
}

.ticket-button {
    color: var(--clr-dark-blue);
    background-color: var(--clr-primary);
    font-size: var(--size-lg);
    width: 15rem;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: 700;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.ticket-button:active {
    background-color: #d69e00; /* Return to original yellow color on click */
}
.ticket-button:hover {
    background-color: #ffcd38; /* Lighter shade of your background color on hover */
}
