/* Ticket.css */
.ticket-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    
}

.ticket-form {
    border-radius: 1rem;
}

.form-group {
    border-radius: 1rem;
}

.label {
    display: flex;
    margin-bottom: 5px;
}

.input-field {
    background-color: var(--clr-light-gray);
    border: 1px solid var(--clr-gray);
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 35rem;
    
}

.message-field {
    height: 150px;
}

.ticket-container .send-email-btn {
    color: var(--clr-dark-blue);
    background-color: var(--clr-primary);
    font-size: var(--size-lg);
    width: 15rem;
    padding: 0.5rem;
    border-radius: 2rem;
    font-weight: 700;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    
}

.send-email-btn:hover {
    background-color: #ffcd38; /* Lighter shade of your background color on hover */

}

.send-email-btn:active {
    background-color: #d69e00; /* Darker shade of your background color when clicked */
}
