:root {
    /* color */
    --clr-primary: #f7b137;
    --clr-primary-hover: #f9dcaa;
    --clr-light: #faf9f6;
    --clr-light-gray: #e1e1e1;
    --clr-gray: #a1a1a1;
    --clr-dark-blue: #002147;
    --clr-light-green: #c8d7cd;
    --clr-green: #015127;
    --clr-red: #7D0A0A;

    /* sizes */
    --size-xxs: 0.5rem; /* 8px */
    --size-xs: 0.75rem; /* 12px */
    --size-sm: 0.875rem; /* 14px */
    --size-base: 1rem; /* 16px default */
    --size-lg: 1.125rem; /* 18px*/
    --size-xl: 1.25rem; /* 20px */
    --size-2xl: 1.5rem; /* 24px */
    --size-3xl: 1.875rem; /* 30px */
    --size-4xl: 2.25rem; /* 36px */
    --size-5xl: 3rem; /* 48px */
    --size-6xl: 3.75rem; /* 60px */
    --size-7xl: 4.5rem; /* 72px */
    --size-8xl: 6rem; /* 96px */
    --size-9xl: 8rem; /* 128px */
    --size-10xl: 10rem; /* 160px */
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

.page-wrapper {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-light);
}

.main {
    flex: 1;
    background-color: var(--clr-light);
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

.title-primary {
    color: var(--clr-primary);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    line-height: calc(1em + 0.5rem);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

*:focus {
    outline: none;
}
